<div class="container">
  <div class="container-our-products">
    <div class="our-products__info">
      <h2 class="title title--upper title--gradient">{{ section.settings.title_our }}</h2>
      <p class="paragraph paragraph--semi">
        {{ section.settings.description_our }}
        {% comment %}
          Fire Alert offers a <strong> wide range of fire safety products</strong><br>
          to suit any home or small business.
        {% endcomment %}
      </p>
      <a href="{{ section.settings.url_our }}" class="btn btn--upper btn--big btn--radius btn--gradient">Buy now</a>
    </div>
  </div>
</div>
