{% if section.settings['show-announcement'] %}
  <div class="banner-top">
    <p class="paragraph letter--medium paragraph--white paragraph--semibold">
      {{ section.settings.discount_number }}
      {{ section.settings.discount }}
    </p>
  </div>
{% endif %}
{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show-announcement",
      "label": "Show Discount Banner",
      "default": true
    },
    {
      "type": "text",
      "id": "discount_number",
      "label": "Discount Banner",
      "default": "00%"
    },
    {
      "type": "text",
      "id": "discount",
      "label": "Discount Banner",
      "default": "OFF DISCOUNT BANNER"
    }
  ],
  "presets": [
    {
      "name": "Discount Banner"
    }
  ]
}
{% endschema %}
