<section class="product-fire">
  {% render 'product-fire-snippets' %}
</section>

{% schema %}
{
  "name": "Product Fire",
  "settings": [
    {
      "type": "collection",
      "id": "collection_one",
      "label": "Selecciona la colecci贸n 1"
    },
    {
      "type": "collection",
      "id": "collection_two",
      "label": "Selecciona la colecci贸n 2"
    },
    {
      "type": "collection",
      "id": "collection_three",
      "label": "Selecciona la colecci贸n 3"
    },
    {
      "type": "collection",
      "id": "collection_four",
      "label": "Selecciona la colecci贸n 4"
    }
  ],
  "presets": [
    {
      "name": "Fire Product",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
