<section class="options-cards">
  {% render 'option-cards-snippets' %}
</section>
{% schema %}
{
  "name": "Option Cards",
  "settings": [
    {
      "type": "collection",
      "id": "collection_one",
      "label": "Selecciona la colecci贸n 1"
    },
    {
      "type": "collection",
      "id": "collection_two",
      "label": "Selecciona la colecci贸n 2"
    },
    {
      "type": "collection",
      "id": "collection_three",
      "label": "Selecciona la colecci贸n 3"
    },
    {
      "type": "collection",
      "id": "collection_four",
      "label": "Selecciona la colecci贸n 4"
    }
  ],
  "presets": [
    {
      "name": "Option Cards Collections",
      "category": "collection"
    }
  ]
}
{% endschema %}
